<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="COVID.master.cs" Inherits="Intranet.Vista.COVID.COVID" %>

<!DOCTYPE html>

<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Plan Contigencia</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="LCSystem">
   <%-- <link href="css/sb-admin.css" rel="stylesheet" />
    <link href="vendor/fontawesome-free/css/all.css" rel="stylesheet" />--%>
    
   <%-- <link type="text/css" rel="stylesheet"  href="https://translate.googleapis.com/translate_static/css/translateelement.css">--%>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body >

    <form id="form1" runat="server">
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">


            </asp:ContentPlaceHolder>
       
</form>
</body>
          
</html>
